.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: lightpink;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navLinks li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navLinks li a:hover {
    color: #f39c12;
  }
  